.table1 {
    text-align: center;
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
body {
   margin: 0px;
   padding: 0px;
   background-image: url(t.jpg);
   background-size:cover;
   opacity: 0.7;
  }
  .logo {
   float: left;
      width: 11%;
      box-shadow: 3px 2px 10px black;
  }
 
  nav {
   height: 53px;
   margin-left: 80px;
   margin-right: 80px;
   overflow: hidden;
      background-color: #04863e;
      float: left;
      width: 80%;
      box-shadow: 0px 2px 10px black;
  }
  
  nav ul {
   display: inline;
  }
  nav ul li {
   display: inline-block;
      cursor: pointer;
      padding: 15px;
      transition background-color: 0.3s;
  }
  nav li a {
   text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      padding: 20px;
  }
  nav ul li:hover ul{
  visibility:visible;
  }
  nav ul li:hover {
   background-color: red;
  }
  h1{
    font-family: verdana;
    text-align: center;
    padding-top: 40px;
  }
   h4{
    text-align: center;
    font-family: verdana;
 
  }